#root {
  max-width: 1280px;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container{
  min-height: 600px;
  padding-bottom: 2.5rem;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.buttons{
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}

.buttons button{
  min-width: 100px;
  max-width: 110px;
  display: inline;
  margin: 3px;
}

.row{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;

}


footer{
  position: absolute;
  bottom: 0;
}

